<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile3">
        <activity
            android:name=".ExportActivity"
            android:exported="false" />
        <activity
            android:name=".ImportActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeKeyActivity"
            android:exported="false"
            android:label="@string/title_activity_change_key"
            android:theme="@style/Theme.Mobile3.NoActionBar" />
        <activity
            android:name=".ChangeEntryActivity"
            android:exported="false" />
        <activity
            android:name=".NewEntryActivity"
            android:exported="false" />
        <activity
            android:name=".WorkActivity"
            android:exported="false"
            android:label="@string/title_activity_work"
            android:theme="@style/Theme.Mobile3.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mobile3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>